.content-view {
}

.context-view .text-field:readonly, .context-view .text-area:readonly {
    -fx-opacity: 1.0;
    -fx-background-color: rgba(255, 255, 255, .7);
}

.context-view .radio-button:disabled {
    -fx-opacity: 1.0;
}

.context-view #topControls {
    -fx-alignment: center-right;
    -fx-pref-height: 100.0;
    -fx-pref-width: 200.0;
    -fx-spacing: 10.0;
}

.context-view #topControls > .button {
    -fx-max-width: 90.0;
    -fx-min-width: 90.0;
    -fx-pref-width: 90.0;
    -fx-pref-height: 25.0;
    -fx-content-display: center;
}

.button, .radio-button {
    -fx-cursor: hand;
}

.progress-bar {
    -fx-accent: #1DA88B;
    -fx-border-style: hidden;

}

.progress-bar .bar {
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 0.20em;

}.progress-bar .track {
     -fx-background-radius: 0, 0, 0, 0;
}

